# .htaccess

# Redirige las solicitudes 404 a la página estática 404.html
ErrorDocument 404 /404.html

# Redirige todas las demás peticiones a index.html para que Nuxt maneje las rutas
RewriteEngine On
RewriteBase /

# Evitar redirección para archivos estáticos (CSS, JS, imágenes)
RewriteCond %{REQUEST_FILENAME} \.(css|js|png|jpg|jpeg|gif|svg|woff|woff2|ttf|eot|otf|ico|mp4|webp)$ [NC]
RewriteRule ^ - [L]

# Redirige todas las peticiones no encontradas a index.html (para que Nuxt maneje la ruta)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html [L]
